<div class="header">
  <div class="fleft">
    <p class="status">Официальный дилер BRP в Тюмени</p>
    <script type="text/javascript">(function(w,doc) {
        if (!w.__utlWdgt ) {
            w.__utlWdgt = true;
            var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
            s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
            var h=d[g]('body')[0];
            h.appendChild(s);
        }})(window,document);
    </script>
    <div data-mobile-view="true" data-share-size="30" data-like-text-enable="false" data-background-alpha="0.0" data-pid="1486604" data-mode="follow" data-background-color="#ffffff" data-follow-yt="channel/UC8sCi5kHP86d8IxRYp87vkw" data-share-shape="round" data-share-counter-size="12" data-icon-color="#ffffff" data-mobile-sn-ids="fb.vk.tw.wh.ok.vb." data-text-color="#000000" data-buttons-color="#FFFFFF" data-counter-background-color="#ffffff" data-share-counter-type="common" data-orientation="horizontal" data-following-enable="false" data-sn-ids="fb.vk.in.yt." data-follow-in="brp_tmn" data-preview-mobile="false" data-selection-enable="false" data-exclude-show-more="false" data-share-style="1" data-follow-vk="brp_tmn" data-counter-background-alpha="1.0" data-top-button="false" data-follow-fb="groups/tmnfs" class="uptolike-buttons" ></div>
    <h1>BRP<span> Центр Тюмень</span></h1>
  </div>
  <div class="info-block fleft lborder">
    <div class="office1">
      <p class="phone">+7 (3452) 68-55-44</p>
      <p class="address">г. Тюмень, ул. Дачная, 2Б</p>
    </div>
    <div class="office2">
      <p class="phone">+7 (3452) 69-60-00</p>
      <p class="address">г. Тюмень, Комарово, ул. Уездная, 144</p>
    </div>
  </div>
  <div class="BRP-logo sprites-v2 fright"></div>
</div>