<% unless @news.empty? %>
  <% @news.each do |article| %>
    <article>
      <!--TODO Choose one-->
      <h3 class="date"><%#= I18n.localize article.created_at, format: :forum_short %><span><%= article.title %></span></h3>
      <!--<h3><%= article.title %><span class="date"><%= I18n.localize article.created_at, format: :forum %></span></h3>-->
      <div class="body">
        <%= article.content.html_safe %>
        <p class="read-more"><a href="#" class="button">&#x2193; Развернуть</a></p>
      </div>
    </article>
  <% end %>
<% end %>