<% unless @news.empty? %>
  <% @news.each do |article| %>
    <article>
      <h3 class="date"><span><%= article.title %></span></h3>
      <div class="body">
        <%= article.content.html_safe %>
        <p class="read-more"><a href="#" class="button closed">&#x2193; Развернуть</a></p>
      </div>
    </article>
  <% end %>
<% end %>