@import "variables";

a[data-fancybox] {
  margin-right: 0;
  display: inline-block;
  vertical-align: top;
  line-height: normal;
  &.two-in-a-row:first-child {
    margin-right: 6px;
  }
  &.four-in-a-row {
    margin-right: 6px;
    &:last-child {
      margin-right: 0;
    }
  }
}
iframe {
  height: 340px;
}
img, iframe {
  width: 646px;
  max-width: 646px;
}