.about-conservation, .about-mobile-service, .about-service, .about-warranty, .logo-vhl-can-am, .logo-vhl-evinrude, .logo-vhl-lynx, .logo-vhl-sea-doo, .logo-vhl-ski-doo, .vhl-accesories, .vhl-can-am, .vhl-evinrude, .vhl-lynx, .vhl-manuals, .vhl-sea-doo, .vhl-ski-doo, .vhl-spyder, .vhl-technology, .logo-brp-big, .logo-forum-big, .logo-forum-small, .logo-spaceheads, .up {
	background: url(sprites.png) no-repeat;
}

.about-conservation {
	background-position: 0 0;
	width: 124px;
	height: 83px;
}

.about-mobile-service {
	background-position: -128px 0;
	width: 80px;
	height: 98px;
}

.about-service {
	background-position: -211px 0;
	width: 79px;
	height: 77px;
}

.about-warranty {
	background-position: -294px 0;
	width: 107px;
	height: 88px;
}

.logo-vhl-can-am {
	background-position: -408px 0;
	width: 163px;
	height: 41px;
}

.logo-vhl-evinrude {
	background-position: -410px -53px;
	width: 151px;
	height: 40px;
}

.logo-vhl-lynx {
	background-position: -576px 0;
	width: 118px;
	height: 40px;
}

.logo-vhl-sea-doo {
	background-position: -566px -53px;
	width: 169px;
	height: 40px;
}

.logo-vhl-ski-doo {
	background-position: -700px 0;
	width: 156px;
	height: 40px;
}

.vhl-accesories {
	background-position: -233px -105px;
	width: 120px;
	height: 136px;
}

.vhl-can-am {
	background-position: -650px -242px;
	width: 196px;
	height: 150px;
}

.vhl-evinrude {
	background-position: -504px -103px;
	width: 106px;
	height: 141px;
}

.vhl-lynx {
	background-position: -211px -245px;
	width: 230px;
	height: 150px;
}

.vhl-manuals {
	background-position: -359px -104px;
	width: 137px;
	height: 105px;
}

.vhl-sea-doo {
	background-position: -447px -246px;
	width: 194px;
	height: 131px;
}

.vhl-ski-doo {
	background-position: 0 -246px;
	width: 206px;
	height: 154px;
}

.vhl-spyder {
	background-position: -616px -102px;
	width: 188px;
	height: 145px;
}

.vhl-technology {
	background-position: 0 -103px;
	width: 230px;
	height: 129px;
}

.logo-brp-big {
	background-position: 0 -408px;
	width: 66px;
	height: 66px;
}

.logo-forum-big {
	background-position: -72px -407px;
	width: 340px;
	height: 54px;
}

.logo-forum-small {
	background-position: -500px -391px;
	width: 248px;
	height: 37px;
}

.logo-spaceheads {
	background-position: -496px -433px;
	width: 186px;
	height: 40px;
}

.up {
	background-position: -749px -388px;
	width: 112px;
	height: 82px;
}
