/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:4223c66df2afd0cab4a6e4c9616bbcf0:ed839f7d60c282b2b9aeb2052023924a:acbb9a391e717371817054b7bacf3992$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;}

.BRP-logo {width:66px; height:66px; background-position: -752px -37px;background-image:url(sprites-v2.png);}
.atv {width:238px; height:94px; background-position: -1px -1px;background-image:url(sprites-v2.png);}
.logo {width:366px; height:38px; background-position: -256px -74px;background-image:url(sprites-v2.png);}
.logo-small {width:253px; height:27px; background-position: -1px -97px;background-image:url(sprites-v2.png);}
.logo-spaceheads {width:178px; height:34px; background-position: -644px -1px;background-image:url(sprites-v2.png);}
.roadster {width:243px; height:71px; background-position: -241px -1px;background-image:url(sprites-v2.png);}
.scooter {width:126px; height:52px; background-position: -624px -66px;background-image:url(sprites-v2.png);}
.snowmobile {width:156px; height:63px; background-position: -486px -1px;background-image:url(sprites-v2.png);}
.srvs-conservation {width:145px; height:196px;background:url(srvs-conservation.gif) center center no-repeat}
.srvs-mobile-repair {width:140px; height:140px;background:url(srvs-mobile-repair.gif) center center no-repeat}
.srvs-repair {width:140px; height:140px;background:url(srvs-repair.gif) center center no-repeat}
.srvs-sell {width:115px; height:140px;background:url(srvs-sell.gif) center center no-repeat}
.srvs-warranty {width:71px; height:140px;background:url(srvs-warranty.gif) center center no-repeat}
