@font-face {
  font-family: 'Franklin Gothic Book';
  src: url('Franklin Gothic Book.eot'); /* IE9 Compat Modes */
  src: url('Franklin Gothic Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('Franklin Gothic Book.woff') format('woff'), /* Modern Browsers */
  url('Franklin Gothic Book.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('Franklin Gothic Book.svg#e95044bdf3d49bd024dea3f387a9411b') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Franklin Gothic Demi Cond';
  src: url('Franklin Gothic Demi Cond.eot'); /* IE9 Compat Modes */
  src: url('Franklin Gothic Demi Cond.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('Franklin Gothic Demi Cond.woff') format('woff'), /* Modern Browsers */
  url('Franklin Gothic Demi Cond.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('Franklin Gothic Demi Cond.svg#0aeb5d0b702297ab4c74f46715f78009') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

$white: white;
$main-grey: #c5c5c5;
$grey: #707070;
$dark-grey: #4e4e4e;
$black-grey: #404040;

$grey-border: 10px solid $grey;
$white-thin-border: 1px solid $white;

html, body {
  min-width: 1160px;
  color: $black-grey;
  background-color: $main-grey;
}

section {
  margin-top: 30px;
  position: relative;
}

a {
  text-decoration: none;
  color: $black-grey;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
.margin-r-20 {
  margin-right: 20px;
}
.no-margin {
  margin: 0;
}

h1, nav, .nav {
  font-family: 'Franklin Gothic Demi Cond';
  text-transform: uppercase;
}
h1, h2, h3 {
  font-family: 'Franklin Gothic Demi Cond';
  margin-bottom: 1em;
  span {
    font-family: 'Franklin Gothic Book';
  }
}
h1 {
  padding: 0.5em 0;
  font-size: 3em;
  position: relative;
  z-index: 2;
  &.section-title {
    margin-bottom: 0;
  }
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
nav, .nav {
  font-size: 1.3em;
  li {
    margin-bottom: 6px;
  }
}
.info-block, p {
  font-family: 'Franklin Gothic Book';
}
.info-block {
  color: $white;
  .status {
    font-size: 0.7em;
    color: $white;
  }
  .address {
    font-size: 1em;
    margin-top: -0.5em;
    color: $white;
  }
  .phone {
    font-size: 2em;
    font-weight: bold;
    color: $white;
  }
}
p {
  font-size: 1em;
  line-height: 1.5em;
}

header {
  height: 305px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $dark-grey;
  color: $white;
  z-index: 100;
  .header {
    position: absolute;
    top: 140px;
    left: 50%;
    margin: -50px 0 0 -343px;
    .info-block {
      margin-left: 55px;
      position: relative;
      top: -19px;
      height: 115px;
      padding-top: 10px;
    }
  }
  .BRP-logo {
    position: absolute;
    top: 71px;
    right: 40px;
  }
}

header nav {
  position: absolute;
  bottom: 32px;
  width: 100%;
  display: table;
  ul {
    display: table-row;
    li {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 215px;
    }
  }
  ::before, ::after {
    width: 50%;
    content: "";
  }
}

.navigation-svg {
  width: 100%;
  display: table;
  bottom: -30px;
  position: absolute;
  .row {
    display: table-row;
    .cell {
      display: table-cell;
      width: min-content;
      object {
        width: 100%;
      }
    }
    .mid {
      width: 618px !important;
    }
    &:first-child, &:last-child {
      width: 50%;
    }
  }
}
#navigation, #navigation-left, #navigation-right {
  height: 99px;
}

.carousel {
  display: block;
  height: 400px;
  width: 100%;
  margin: 2px 0 -58px 0;
  z-index: -1;
  overflow: hidden;
  background-color: $black-grey;
  padding-top: 305px;
  .item {
    display: inline-block;
    position: relative;
    .img {
      width: 100%;
      height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  h1, p {
    position: absolute;
    color: $white;
    text-shadow: 2px 2px black;
  }
  h1 {
    font-size: 4em;
    width: 8em;
    text-align: right;
    top: 30px;
    right: 30px;
    &.world-offer {
      right: auto;
      left: 30px;
      color: #c12e1e;
      text-align: left;
      text-decoration: underline;
    }
  }
  p {
    font-size: 2em;
    width: 25em;
    text-align: left;
    top: 310px;
    left: 30px;
  }
}

#offers, #brands, #about, #contacts, #footer {
  position: absolute;
  z-index: 1;
  width: 100%;
}
#offers {
  height: 84px;
}
.brp-news, .our-news {
  height: 600px;
  width: 1080px;
  padding-bottom: 40px;
  .body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    .item {
      clear: both;
      border-bottom: 1px solid #ffd204;
      margin-bottom: 20px;
      .date, .title {
        font-size: 1.1em;
      }
      .title {
        padding-bottom: 10px;
      }
      .desc {
        padding-bottom: 10px;
      }
      img {
        border: 5px solid #ffd204;
        width: 240px;
        float: left;
        margin: 0 10px 10px 0;
      }
    }
  }
}

.brands {
  .table {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-transform: uppercase;
    padding: 2em 0;
    ul {
      display: table-row;
      li {
        display: table-cell;
        text-align: center;
        a {
          font: 2em 'Franklin Gothic Demi Cond';
        }
      }
    }
  }
}
#about {
  height: 111px;
}
.about {
  .header {
    width: 640px;
    border-right: $white-thin-border;
    padding-right: 30px;
    .body {
      margin-top: 22px;
      border-spacing: 0px 10px;
      &.table {
        display: table;
        width: 100%;
      }
      .row {
        display: table-row;
        .cell {
          display: table-cell;
          vertical-align: top;
          h1 {
            i {
              color: #d84646;
            }
            &+p {
              margin-top: -25px;
              text-align: center;
            }
          }
          &.img {
            position: relative;
            img {
              border-color: #d84646;
            }
            a {
              position: absolute;
              width: 100%;
              height: 100%;
              bottom: 0;
              text-align: center;
              left: 0;
              span {
                position: relative;
                top: 35%;
                color: white;
                font: 2em 'Franklin Gothic Demi Cond';
              }
            }
          }
          p {
            vertical-align: top;
            padding-bottom: 1em;
          }
        }
        img {
          border: $grey-border;
        }
        &:nth-child(odd) {
          p, h1 {
            padding-right: 30px;
          }
        }
        &:nth-child(even) {
          p, h1 {
            padding-left: 30px;
          }
        }
      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
  aside {
    .vk {
      border: $grey-border;
    }
  }
  .icons {
    .list {
      width: 100%;
      //padding-top: 40px;
      .cell {
        width: 20%;
        text-align: center;
        i {
          display: inline-block;
        }
        div {
          display: inline-block;
          margin-top: 5px;
          p {
            text-align: center;
            font-size: 1em;
          }
        }
      }
    }
  }
}

#contacts {
  height: 103px;
}
.contacts {
  .map {
    height: 798px;
    position: relative;
    margin: -24px 0 -70px 0;
    overflow: hidden;
    z-index: 0;
    #gis-map {
      height: 100%;
    }
  }
  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -240px;
    width: 480px;
    background-color: $white;
    text-align: center;
    height: 210px;
    border: 8px solid $grey;
    z-index: 10000;
    .text {
      margin: auto;
      position: absolute;
      top: 25px;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      p {
        font-family: 'Franklin Gothic Demi Cond';
        font-size: 2em;
        &:first-child {
          margin-bottom: 19px;
          font-size: 2.5em;
        }
        &:last-child {
          margin-top: 0;
        }
      }
    }
  }
}

footer {
  #footer {
    height: 288px;
    position: relative;
    bottom: -10px;
  }
  .content {
    top: 0;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    bottom: 0;
    .social {
      a {
        display: block;
        background: url("sprites.png") no-repeat transparent;
        width: 22px;
        height: 22px;
        float: left;
      }
      .vk {
        background-position: -839px -173px;
        &:hover {
          background-position: -839px -102px;
        }
      }
      .fb {
        background-position: -839px -149px;
        &:hover {
          background-position: -839px -78px;
        }
      }
      .odnoklassniki {
        background-position: -839px -125px;
        &:hover {
          background-position: -839px -54px;
        }
      }
    }
    .copyright {
      font-size: 0.7em;
      width: 16em;
      border-top: 1px solid #ffd204;
      padding-top: 4px;
      position: absolute;
      bottom: 10px;
      left: 40px;
      color: white;
    }
    .metrica {
      position: absolute;
      bottom: 55px;
      left: 40px;
    }
    .logo-spaceheads {
      position: absolute;
      bottom: 10px;
      right: 40px;
    }
    .f7_full_logo {
      position: absolute;
      left: 50%;
      bottom: 100px;
      margin-left: -116px;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.up {
  display: block;
  position: fixed;
  bottom: 0;
  right: 50%;
  z-index: 1000;
  margin-right: -53px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.fleft {
  float: left;
}
.fright {
  float: right;
}
.clear {
  clear: both;
}
.btcf:after {
  content:"";
  display:table;
  clear:both;
}
.lborder {
  padding-left: 15px;
  border-left: $white-thin-border;
}
.pleft {
  padding-left: 25px;
}
.pright {
  padding-right: 25px;
}
.pbottom {
  padding-bottom: 10px;
}
.ptop {
  padding-top: 10px;
}

.list {
  display: table;
  table-layout: fixed;
  .row {
    display: table-row;
    .cell {
      display: table-cell;
      vertical-align: top;
    }
  }
}

.no-border {
  border: none !important;
}

main, footer {
  position: relative;
}

.spacing {
  display: table-cell;
  width: auto;
  height: 20px;
}

.center {
  text-align: center;
}

.content {
  width: 1080px;
  margin: 60px auto 0;
  z-index: 1;
  padding: 0 40px;
  position: relative;
}