@font-face {
  font-family: 'a_CityNova';
  src: font-url('a-citynova.eot');
}
@font-face {
  font-family: 'a_CityNova';
  src: font-url('a-citynova.woff') format('woff'),
  font-url('a-citynova.svg#ACityNova') format('svg');
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: font-url('MyriadPro-Regular.eot');
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: font-url('MyriadPro-Regular.woff') format('woff'),
  font-url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
}

html, body {
  min-width: 1160px;
  color: rgb(48, 48, 48);
}

section {
  margin-top: 30px;
  position: relative;
}

a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

h1, nav, .nav {
  font-family: 'a_CityNova';
  text-transform: uppercase;
}
nav, .nav {
  font-size: 1.3em;
  li {
    margin-bottom: 6px;
  }
}

h2, h3, .info-block, p {
  font-family: 'MyriadPro-Regular';
}

h1 {
  padding: 0.4em 0;
  font-size: 3em;
  text-align: center;
  position: relative;
  z-index: 2;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
h3 {
  font-size: 0.9em;
}
.info-block {
  .status {
    font-size: 0.7em;
  }
  .phone {
    font-size: 0.9em;
    font-weight: bold;
  }
}
p {
  font-size: 0.9em;
}

header {
  height: 305px;
  position: relative;
  .header {
    position: absolute;
    top: 144px;
    left: 50%;
    margin: -50px 0 0 -300px;
    .info-block {
      margin-left: 55px;
      position: relative;
      top: 7px;
      height: 35px;
      padding-top: 10px;
    }
  }
  .logo-brp-big {
    position: absolute;
    top: 90px;
    right: 40px;
  }
}

header nav {
  position: absolute;
  bottom: 32px;
  width: 100%;
  display: table;
  ul {
    display: table-row;
    li {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 147px;
    }
  }
  ::before, ::after {
    width: 50%;
    content: "";
  }
}

.navigation-svg {
  width: 100%;
  display: table;
  bottom: 0;
  position: absolute;
  .row {
    display: table-row;
    .cell {
      display: table-cell;
      object {
        width: 100%;
      }
    }
    .mid {
      width: 618px !important;
    }
    &:first-child, &:last-child {
      width: 50%;
    }
  }
}
#navigation, #navigation-left, #navigation-right {
  height: 80px;
}

.carousel {
  display: block;
  height: 400px;
  margin: -30px 0 -42px 0;
  z-index: -1;
  overflow: hidden;
  .item {
    display: inline-block;
    position: relative;
  }
  img {
    width: 100%;
  }
  h1, p {
    position: absolute;
    color: #ffffff;
    text-shadow: 2px 2px black;
  }
  h1 {
    font-size: 4em;
    width: 8em;
    text-align: right;
    top: 30px;
    right: 30px;
  }
  p {
    font-size: 2em;
    width: 25em;
    text-align: left;
    top: 310px;
    left: 30px;
  }
}

#events, #brands, #about, #contacts, #footer {
  position: absolute;
  z-index: 1;
  width: 100%;
}
#events {
  height: 84px;
}
.brp-news, .our-news {
  height: 600px;
  width: 520px;
  padding-bottom: 40px;
  .body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    .item {
      clear: both;
      border-bottom: 1px solid #ffd204;
      margin-bottom: 20px;
      .date, .title {
        font-size: 1.1em;
      }
      .title {
        padding-bottom: 10px;
      }
      .desc {
        padding-bottom: 10px;
      }
      img {
        border: 5px solid #ffd204;
        width: 240px;
        float: left;
        margin: 0 10px 10px 0;
      }
    }
  }
}

.brands {
  object {
    height: 85px;
  }
  .cell {
    border-bottom: 1px solid transparent;
    padding-bottom: 10px;
    width: 350px;
    &:hover {
      border-bottom: 1px solid rgb(255, 210, 4);
    }
    .header {
      position: relative;
      .logo {
        position: absolute;
        bottom: 28px;
        right: 0;
        h3 {
          max-width: 12em;
          text-align: right;
        }
        div {
          clear: both;
        }
      }
    }
  }
}
#about {
  height: 93px;
}
.about {
  .header {
    width: 350px;
    float: left;
    .body {
      margin-top: 32px;
    }
  }
  .icons {
    margin-left: 430px;
    .list {
      width: 100%;
      .cell {
        width: 25%;
        text-align: center;
        i {
          display: inline-block;
        }
        div {
          display: inline-block;
          margin-top: 5px;
          p {
            text-align: left;
            font-size: 0.75em;
          }
        }
      }
    }
  }
}

#contacts {
  height: 84px;
}
.contacts {
  .map {
    height: 798px;
    position: relative;
    margin: -24px 0 -70px 0;
    overflow: hidden;
    z-index: 0;
    #gis-map {
      height: 100%;
    }
  }
  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -240px;
    width: 480px;
    background-color: white;
    text-align: center;
    height: 210px;
    border: 8px solid rgb(255, 210, 4);
    z-index: 10000;
    .text {
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 170px;
      display: block;
      p {
        font-family: 'a_CityNova';
        font-size: 2em;
        &:first-child {
          margin-bottom: 20px;
          font-size: 2.5em;
        }
        &:last-child {
          margin-top: 20px;
        }
      }
    }
  }
}
#footer {
  height: 261px;
}
footer .content {
  position: relative;
  top: 80px;
  .copyright {
    font-size: 0.7em;
    width: 16em;
    border-top: 1px solid rgb(48, 48, 48);;
    padding-top: 4px;
    position: relative;
    top: 40px;
    float: left;
  }
  .metrica {
    position: relative;
    float: right;
  }
  .logo-spaceheads {
    position: relative;
    top: 40px;
    float: right;
  }
}

.up {
  display: block;
  position: fixed;
  bottom: 0;
  right: 50%;
  z-index: 1000;
  margin-right: -53px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.fleft {
  float: left;
}
.fright {
  float: right;
}
.clear {
  clear: both;
}
.btcf:after {
  content:"";
  display:table;
  clear:both;
}
.lborder {
  padding-left: 15px;
  border-left: 1px solid rgb(48, 48, 48);
}

.list {
  display: table;
  table-layout: fixed;
  .row {
    display: table-row;
    .cell {
      display: table-cell;
    }
  }
}

main, footer {
  position: relative;
}

header, main, footer {
  z-index: 1;
}

.spacing {
  display: table-cell;
  width: 20px;
  height: 20px;
}

.content {
  width: 1080px;
  margin: 30px auto 0;
  z-index: 1;
  padding: 0 40px;
}