@font-face {
  font-family: 'Franklin Gothic Book';
  src: url("Franklin Gothic Book.eot");
  /* IE9 Compat Modes */
  src: url("Franklin Gothic Book.eot?#iefix") format("embedded-opentype"), url("Franklin Gothic Book.woff") format("woff"), url("Franklin Gothic Book.ttf") format("truetype"), url("Franklin Gothic Book.svg#e95044bdf3d49bd024dea3f387a9411b") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Franklin Gothic Demi Cond';
  src: url("Franklin Gothic Demi Cond.eot");
  /* IE9 Compat Modes */
  src: url("Franklin Gothic Demi Cond.eot?#iefix") format("embedded-opentype"), url("Franklin Gothic Demi Cond.woff") format("woff"), url("Franklin Gothic Demi Cond.ttf") format("truetype"), url("Franklin Gothic Demi Cond.svg#0aeb5d0b702297ab4c74f46715f78009") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

html, body {
  min-width: 1160px;
  color: #404040;
  background-color: #c5c5c5; }

section {
  margin-top: 30px;
  position: relative; }

a {
  text-decoration: none;
  color: #404040;
  cursor: pointer; }

.link:hover {
  text-decoration: underline; }

.margin-r-20 {
  margin-right: 20px; }

.no-margin {
  margin: 0; }

h1, nav, .nav {
  font-family: 'Franklin Gothic Demi Cond';
  text-transform: uppercase; }

h1, h2, h3 {
  font-family: 'Franklin Gothic Demi Cond';
  margin-bottom: 1em; }
  h1 span, h2 span, h3 span {
    font-family: 'Franklin Gothic Book'; }

h1 {
  padding: 0.5em 0;
  font-size: 3em;
  position: relative;
  z-index: 2; }
  h1.section-title {
    margin-bottom: 0; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

nav, .nav {
  font-size: 1.3em; }
  nav li, .nav li {
    margin-bottom: 6px; }

.info-block, p {
  font-family: 'Franklin Gothic Book'; }

.info-block {
  color: white; }
  .info-block .status {
    font-size: 0.7em;
    color: white; }
  .info-block .address {
    font-size: 1em;
    margin-top: -0.5em;
    color: white; }
  .info-block .phone {
    font-size: 2em;
    font-weight: bold;
    color: white; }

p {
  font-size: 1em;
  line-height: 1.5em; }

header {
  height: 305px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #4e4e4e;
  color: white;
  z-index: 100000; }
  header .header {
    position: absolute;
    top: 140px;
    left: 50%;
    margin: -50px 0 0 -437px; }
    header .header .info-block {
      margin-left: 55px;
      position: relative;
      top: -28px;
      height: 135px;
      padding-top: 10px; }
  header .BRP-logo {
    position: absolute;
    top: -12px;
    right: -100px; }
  header .fancybox-buttons {
    top: 216px;
    z-index: 100001; }

header nav {
  position: absolute;
  bottom: 32px;
  width: 100%;
  display: table; }
  header nav ul {
    display: table-row; }
    header nav ul li {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 215px; }
  header nav ::before, header nav ::after {
    width: 50%;
    content: ""; }

.navigation-svg {
  width: 100%;
  display: table;
  bottom: -30px;
  position: absolute; }
  .navigation-svg .row {
    display: table-row; }
    .navigation-svg .row .cell {
      display: table-cell;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content; }
      .navigation-svg .row .cell object {
        width: 100%; }
    .navigation-svg .row .mid {
      width: 618px !important; }
    .navigation-svg .row:first-child, .navigation-svg .row:last-child {
      width: 50%; }

#navigation, #navigation-left, #navigation-right {
  height: 99px; }

.carousel {
  display: block;
  height: 400px;
  width: 100%;
  margin: 2px 0 -58px 0;
  z-index: -1;
  overflow: hidden;
  background-color: #404040;
  padding-top: 305px; }
  .carousel .item {
    display: inline-block;
    position: relative; }
    .carousel .item .img {
      width: 100%;
      height: 400px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
  .carousel h1, .carousel p {
    position: absolute;
    color: white;
    text-shadow: 2px 2px black; }
  .carousel h1 {
    font-size: 4em;
    width: 8em;
    text-align: right;
    top: 30px;
    right: 30px; }
    .carousel h1.world-offer {
      right: auto;
      left: 30px;
      color: #c12e1e;
      text-align: left;
      text-decoration: underline; }
  .carousel p {
    font-size: 2em;
    width: 25em;
    text-align: left;
    top: 310px;
    left: 30px; }

#offers, #brands, #about, #contacts, #footer {
  position: absolute;
  z-index: 1;
  width: 100%; }

#offers {
  height: 84px; }

.brp-news, .our-news {
  height: 600px;
  width: 1080px;
  padding-bottom: 40px; }
  .brp-news .body, .our-news .body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%; }
    .brp-news .body .item, .our-news .body .item {
      clear: both;
      border-bottom: 1px solid #ffd204;
      margin-bottom: 20px; }
      .brp-news .body .item .date, .brp-news .body .item .title, .our-news .body .item .date, .our-news .body .item .title {
        font-size: 1.1em; }
      .brp-news .body .item .title, .our-news .body .item .title {
        padding-bottom: 10px; }
      .brp-news .body .item .desc, .our-news .body .item .desc {
        padding-bottom: 10px; }
      .brp-news .body .item img, .our-news .body .item img {
        border: 5px solid #ffd204;
        width: 240px;
        float: left;
        margin: 0 10px 10px 0; }

.brands .table {
  display: table;
  width: 100%;
  table-layout: fixed;
  text-transform: uppercase;
  padding: 2em 0; }
  .brands .table ul {
    display: table-row; }
    .brands .table ul li {
      display: table-cell;
      text-align: center; }
      .brands .table ul li a {
        font: 2em 'Franklin Gothic Demi Cond'; }

#about {
  height: 111px; }

.about .header {
  width: 640px;
  border-right: 1px solid white;
  padding-right: 30px; }
  .about .header .body {
    margin-top: 22px;
    border-spacing: 0px 10px; }
    .about .header .body.table {
      display: table;
      width: 100%; }
    .about .header .body .row {
      display: table-row; }
      .about .header .body .row .cell {
        display: table-cell;
        vertical-align: top; }
        .about .header .body .row .cell h1 i {
          color: #d84646; }
        .about .header .body .row .cell h1 + p {
          margin-top: -25px;
          text-align: center; }
        .about .header .body .row .cell.img {
          position: relative; }
          .about .header .body .row .cell.img img {
            border-color: #d84646; }
          .about .header .body .row .cell.img a {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            text-align: center;
            left: 0; }
            .about .header .body .row .cell.img a span {
              position: relative;
              top: 35%;
              color: white;
              font: 2em 'Franklin Gothic Demi Cond'; }
        .about .header .body .row .cell p {
          vertical-align: top;
          padding-bottom: 1em; }
      .about .header .body .row img {
        border: 10px solid #707070; }
      .about .header .body .row:nth-child(odd) p, .about .header .body .row:nth-child(odd) h1 {
        padding-right: 30px; }
      .about .header .body .row:nth-child(even) p, .about .header .body .row:nth-child(even) h1 {
        padding-left: 30px; }
    .about .header .body:after {
      content: "";
      display: block;
      clear: both; }

.about aside .vk {
  border: 10px solid #707070; }

.about .icons .list {
  width: 100%; }
  .about .icons .list .cell {
    width: 20%;
    text-align: center; }
    .about .icons .list .cell i {
      display: inline-block; }
    .about .icons .list .cell div {
      display: inline-block;
      margin-top: 5px; }
      .about .icons .list .cell div p {
        text-align: center;
        font-size: 1em; }

#contacts {
  height: 103px; }

.contacts .map {
  height: 798px;
  position: relative;
  margin: -24px 0 -70px 0;
  overflow: hidden;
  z-index: 0; }
  .contacts .map #gis-map {
    height: 100%; }

.contacts .card {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -240px;
  width: 480px;
  background-color: white;
  text-align: center;
  height: 210px;
  border: 8px solid #707070;
  z-index: 10000; }
  .contacts .card .text {
    margin: auto;
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 0;
    display: block; }
    .contacts .card .text p {
      font-family: 'Franklin Gothic Demi Cond';
      font-size: 2em; }
      .contacts .card .text p:first-child {
        margin-bottom: 19px;
        font-size: 2.5em; }
      .contacts .card .text p:last-child {
        margin-top: 0; }

footer #footer {
  height: 288px;
  position: relative;
  bottom: -10px; }

footer .content {
  top: 0;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0; }
  footer .content .social a {
    display: block;
    background: url("sprites.png") no-repeat transparent;
    width: 22px;
    height: 22px;
    float: left; }
  footer .content .social .vk {
    background-position: -839px -173px; }
    footer .content .social .vk:hover {
      background-position: -839px -102px; }
  footer .content .social .fb {
    background-position: -839px -149px; }
    footer .content .social .fb:hover {
      background-position: -839px -78px; }
  footer .content .social .odnoklassniki {
    background-position: -839px -125px; }
    footer .content .social .odnoklassniki:hover {
      background-position: -839px -54px; }
  footer .content .copyright {
    font-size: 0.7em;
    width: 16em;
    border-top: 1px solid #ffd204;
    padding-top: 4px;
    position: absolute;
    bottom: 10px;
    left: 40px;
    color: white; }
  footer .content .metrica {
    position: absolute;
    bottom: 55px;
    left: 40px; }
  footer .content .logo-spaceheads {
    position: absolute;
    bottom: 10px;
    right: 40px; }
  footer .content .f7_full_logo {
    position: absolute;
    left: 50%;
    bottom: 100px;
    margin-left: -116px; }
    footer .content .f7_full_logo a {
      display: block;
      width: 100%;
      height: 100%; }

.up {
  display: block;
  position: fixed;
  bottom: 0;
  right: 50%;
  z-index: 1000;
  margin-right: -53px;
  cursor: pointer; }

.hidden {
  display: none; }

.fleft {
  float: left; }

.fright {
  float: right; }

.clear {
  clear: both; }

.btcf:after {
  content: "";
  display: table;
  clear: both; }

.lborder {
  padding-left: 15px;
  border-left: 1px solid white; }

.pleft {
  padding-left: 25px; }

.pright {
  padding-right: 25px; }

.pbottom {
  padding-bottom: 10px; }

.ptop {
  padding-top: 10px; }

.list {
  display: table;
  table-layout: fixed; }
  .list .row {
    display: table-row; }
    .list .row .cell {
      display: table-cell;
      vertical-align: top; }

.no-border {
  border: none !important; }

main, footer {
  position: relative; }

.spacing {
  display: table-cell;
  width: auto;
  height: 20px; }

.center {
  text-align: center; }

.content {
  width: 1080px;
  margin: 60px auto 0;
  z-index: 1;
  padding: 0 40px;
  position: relative; }
