<!DOCTYPE html>
<html>
<head>
  <title>ForumServis</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="navigation-svg">
    <div class="row">
      <div class="cell">
        <object data="assets/navigation-left.svg" type="image/svg+xml" id="navigation-left" class="fleft cell"></object>
      </div>
      <div class="cell mid">
      <object data="assets/navigation.svg" type="image/svg+xml" id="navigation" class="fleft cell"></object>
      </div>
      <div class="cell">
      <object data="assets/navigation-right.svg" type="image/svg+xml" id="navigation-right" class="fleft cell"></object>
      </div>
    </div>
  </div>
  <div class="header">
    <div class="logo-forum-big fleft"></div>
    <div class="info-block fleft lborder">
      <p class="status">Официальный дилер BRP в Тюмени</p>
      <p class="phone">(3452) 68-55-44</p>
    </div>
  </div>
  <div class="logo-brp-big fright"></div>
  <nav>
    <ul>
      <li><a href="#events">События</a></li>
      <li><a href="#brands">Бренды</a></li>
      <li><a href="#about">О компании</a></li>
      <li><a href="#contacts">Контакты</a></li>
    </ul>
  </nav>
</header>

<div class="carousel btcf">
  <ul>
    <li><img src="assets/ad1.jpg" alt=""/></li>
  </ul>
</div>

<main>
  <a name="events"></a>
  <section class="events clear">
    <object data="assets/events.svg" type="image/svg+xml" id="events"></object>
    <h1>События</h1>
    <div class="content btcf">
      <div class="brp-news fleft">
        <h2 class="lborder">Новости BRP</h2>
        <!--<%= yield %>-->
      </div>
      <div class="our-news fright">
        <h2 class="lborder">Наши новости</h2>
      </div>
    </div>
  </section>

  <a name="brands"></a>
  <section class="brands clear">
    <object data="assets/brands.svg" type="image/svg+xml" id="brands"></object>
    <h1>Бренды</h1>
    <div class="content btcf">
      <div class="list">
        <div class="row">
          <div class="can-am cell">
            <div class="header">
              <div class="vhl-can-am"></div>
              <div class="logo">
                <h3>Квадроциклы</h3>
                <div class="logo-vhl-can-am"></div>
              </div>
            </div>
            <div class="body">
              <p>Can-Am® (Кэн-Эм)- вездеходы на все случаи жизни,
                оснащенные инновационными технологиями для
                максимальной проходимости в самых трудных
                условиях. ATV квадроциклы Can-Am созданы для того,
                чтобы изменить ваш стиль катания и повысить уровень
                комфорта. Удовольствие от езды в непроходимых
                условиях – возможно с квадроциклами Can-Am!</p>
            </div>
          </div>
          <div class="spacing"></div>
          <div class="ski-doo cell">
            <div class="header">
              <div class="vhl-ski-doo"></div>
              <div class="logo">
                <h3>Снегоходы</h3>
                <div class="logo-vhl-ski-doo"></div>
              </div>
            </div>
            <div class="body">
              <p>Ski-Doo® (Ски-Ду) – бренд номер один в мире
                снегоходов по качеству, стилю, комфортабельности и
                высоким технологиям.</p>
            </div>
          </div>
          <div class="spacing"></div>
          <div class="sea-doo cell">
            <div class="header">
              <div class="vhl-sea-doo"></div>
              <div class="logo">
                <h3>Квадроциклы</h3>
                <div class="logo-vhl-sea-doo"></div>
              </div>
            </div>
            <div class="body">
              <p>Sea-Doo® (Си-Ду) - любимый бренд для тех, чья стихия –
                бесконечная водная гладь.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="spyder cell">
            <div class="header">
              <div class="vhl-spyder"></div>
              <div class="logo">
                <h3>Родстеры</h3>
                <div class="logo-vhl-can-am"></div>
              </div>
            </div>
            <div class="body">
              <p>Родстеры Spyder – родстеры нового измерения для тех,
                кто ценит стиль, качество и безопасность. Прост в
                управлении, идеален для путешествий и катаний по
                городу, миллионы километров дорог и скоростных
                магистралей созданы для него.</p>
            </div>
          </div>
          <div class="spacing"></div>
          <div class="lynx cell">
            <div class="header">
              <div class="vhl-lynx"></div>
              <div class="logo">
                <h3>Снегоходы</h3>
                <div class="logo-vhl-lynx"></div>
              </div>
            </div>
            <div class="body">
              <p>Lynx® (Линкс) - синоним слова «снегоход» в Европе с
                большим количеством разнообразных моделей,
                разработанных специально с учетом европейских и
                российских снежных условий.</p>
            </div>
          </div>
          <div class="spacing"></div>
          <div class="evinrude cell">
            <div class="header">
              <div class="vhl-evinrude"></div>
              <div class="logo">
                <h3>Лодочные моторы</h3>
                <div class="logo-vhl-evinrude"></div>
              </div>
            </div>
            <div class="body">
              <p>Evinrude® - навесные двигатели, разработанные по
                новым промышленным стандартам. Включают в себя
                новаторскую технологию E-TEC, позволяющую получить
                первоклассный опыт во время катания на моторных
                лодках.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="accessories cell">
            <div class="header">
              <div class="vhl-accesories"></div>
              <div class="logo">
                <h3>Одежда и аксессуары</h3>
                <div class="logo-vhl-accesories"></div>
              </div>
            </div>
            <div class="body">
              <p>Can-Am® (Кэн-Эм)- вездеходы на все случаи жизни,
                оснащенные инновационными технологиями для
                максимальной проходимости в самых трудных
                условиях. ATV квадроциклы Can-Am созданы для того,
                чтобы изменить ваш стиль катания и повысить уровень
                комфорта. Удовольствие от езды в непроходимых
                условиях – возможно с квадроциклами Can-Am!</p>
            </div>
          </div>
          <div class="spacing"></div>
          <div class="technology cell">
            <div class="header">
              <div class="vhl-technology"></div>
              <div class="logo">
                <h3>Технологии</h3>
                <div class="logo-vhl-technology"></div>
              </div>
            </div>
            <div class="body">
              <p>Can-Am® (Кэн-Эм)- вездеходы на все случаи жизни,
                оснащенные инновационными технологиями для
                максимальной проходимости в самых трудных
                условиях. ATV квадроциклы Can-Am созданы для того,
                чтобы изменить ваш стиль катания и повысить уровень
                комфорта. Удовольствие от езды в непроходимых
                условиях – возможно с квадроциклами Can-Am!</p>
            </div>
          </div>
          <div class="spacing"></div>
          <div class="manuals cell">
            <div class="header">
              <div class="vhl-manuals"></div>
              <div class="logo">
                <h3>Руководства по эксплуатации</h3>
                <div class="logo-vhl-manuals"></div>
              </div>
            </div>
            <div class="body">
              <p>Can-Am® (Кэн-Эм)- вездеходы на все случаи жизни,
                оснащенные инновационными технологиями для
                максимальной проходимости в самых трудных
                условиях. ATV квадроциклы Can-Am созданы для того,
                чтобы изменить ваш стиль катания и повысить уровень
                комфорта. Удовольствие от езды в непроходимых
                условиях – возможно с квадроциклами Can-Am!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <a name="about"></a>
  <section class="about clear">
    <object data="assets/about.svg" type="image/svg+xml" id="about"></object>
    <h1>О компании</h1>
    <div class="content btcf">
      <div class="header">
        <div class="logo-forum-small"></div>
        <div class="body">
          <p>Мы предлагаем широкий выбор моделей снегоходов
            Ski-Doo: спортивные, утилитарные, туристические,
            детские. Ski-Doo® – брэнд номер один в мире
            снегоходов. Наши снегоходы практичны и просты в
            управлении: путешествие на зимнюю охоту или
            рыбалку по снежному бездорожью с ними становится
            настоящим удовольствием.</p>
        </div>
      </div>
      <div class="icons">
        <div class="list">
          <div class="row">
            <div class="cell">
              <i class="about-warranty"></i>
              <div>
                <p>Гарантийное и послегарантийное техническое обслуживание</p>
              </div>
            </div>
            <div class="spacing"></div>
            <div class="cell">
              <i class="about-service"></i>
              <div>
                <p>Ремонт мототехники и подвесных лодочных моторов</p>
              </div>
            </div>
            <div class="spacing"></div>
            <div class="cell">
              <i class="about-mobile-service"></i>
              <div>
                <p>Мобильный сервис</p>
              </div>
            </div>
            <div class="spacing"></div>
            <div class="cell">
              <i class="about-conservation"></i>
              <div>
                <p>Консервация</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <a name="contacts"></a>
  <section class="contacts clear">
    <object data="assets/contacts.svg" type="image/svg+xml" id="contacts"></object>
    <h1>Контакты</h1>
    <div class="map">
      <script charset="utf-8" type="text/javascript" src="http://firmsonmap.api.2gis.ru/js/DGWidgetLoader.js"></script>
      <script charset="utf-8" type="text/javascript">new DGWidgetLoader({"borderColor":"white","width":"100%","height":"798","wid":"7b38b199155373385a2225cb82035307","pos":{"lon":"65.606374534373","lat":"57.137973599076","zoom":"13"},"opt":{"ref":"hidden","card":["name","contacts","schedule","payings"],"city":"tyumen"},"org":[{"id":"1830115629606203","hash":"8dBCqa34234IJ1HJc147uvgc18630J345e6786039909B295f34369G41J0I96228A"},{"id":"1830116630136332","hash":"8c5Cqa34363IJ1HJc16guvgc19640J345e6786030439B295f54469G42J0I962288"}]});</script>
      <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
    </div>
    <div class="card">
      <div class="text">
        <p>(3452) 68-55-44</p>
        <p>г. Тюмень, ул. Федюнинского, 43</p>
        <p>г. Тюмень, ул. Дачная, 2Б</p>
        <p>salon@forum-servis.ru</p>
      </div>
    </div>
  </section>
</main>

<footer class="clear">
  <object data="assets/footer.svg" type="image/svg+xml" id="footer"></object>
  <div class="content">
    <ul class="nav">
      <li><a href="#events">События</a></li>
      <li><a href="#brands">Бренды</a></li>
      <li><a href="#about">О компании</a></li>
    </ul>
    <div class="copyright">
      <p>Copyright © ТСК «Форум-Сервис» 2014 г. Все права защищены.</p>
    </div>
    <div class="metrica"></div>
    <div class="logo-spaceheads"></div>
  </div>
</footer>

</body>
</html>
